[submodule "roles/mysql-docker"]
	path = roles/mysql-docker
	url = git@github.com:sq3/ansible-role-mysql-docker.git
[submodule "roles/ansible-role-nextcloud-docker"]
	path = roles/nextcloud-docker
	url = git@github.com:sq3/ansible-role-nextcloud-docker.git
[submodule "roles/wordpress-docker"]
	path = roles/wordpress-docker
	url = git@github.com:sq3/ansible-role-wordpress-docker.git
[submodule "roles/nginx-proxy-docker"]
	path = roles/nginx-proxy-docker
	url = git@github.com:sq3/ansible-role-nginx-proxy-docker.git
